<nav class="navbar shadow" [ngClass]="{'navbar-light bg-light': isMorning, 'navbar-dark bg-dark': !isMorning}">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">JLW</a>

        <!--Toggle-->
        <ui-switch style="z-index: 1000;" [checked]="isSwitchedOn" [(ngModel)]="isSwitchedOn"
            (change)="onChange($event)">
        </ui-switch>

        <!--Hamburger-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsedContent"
            aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="collapsedContent">
    <div class="p-4 text-end" [ngClass]="{'bg-light': isMorning, 'bg-dark': !isMorning}">
        <!--TODO: update to fancy word spin/swaps-->
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}" routerLink="/"
            routerLinkActive='active'>
            home
        </a>
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}"
            routerLink="/about-me" href="/about-me" routerLinkActive='active'>
            about me
        </a>
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}"
            routerLink="/skillset" routerLinkActive='active'>
            skillset
        </a>
        <!-- <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}"
            routerLink="/portfolio" routerLinkActive='active'>portfolio</a> -->
        <a class="nav-link spin-me h5" [ngClass]="{'text-dark': isMorning, 'text-secondary': !isMorning}"
            routerLink="/contact-me" routerLinkActive='active'>
            contact me
        </a>
    </div>
</div>