/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    min-height: 100% !important;
    overflow-x: hidden;
}

/*bye bye scrollbar*/

::-webkit-scrollbar {
    display: none;
}

.bg-day {
    background-color: #F2D9CA;
}

.bg-night {
    background-color: #424083;
}

.center-width {
    width: 800px;
}

.theme-font {
    margin-top: 30%;
    font-family: 'Crimson Text', serif;
}

.text-rose {
    color: rosybrown;
}

.fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}