<nav class="navbar " [ngClass]="{'navbar-light bg-light': isMorning, 'navbar-dark bg-dark': !isMorning}">
    <div class="container-fluid">
        <!--TODO: update font-->
        <a class="navbar-brand" href="#">JLW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsedContent"
            aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="collapsedContent">
    <div class="p-4 text-end" [ngClass]="{'bg-light': isMorning, 'bg-dark': !isMorning}">
        <!--TODO: update to fancy word spin/swaps-->
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}" href="#">about
            me</a>
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}"
            href="#">skillset</a>
        <a class="nav-link spin-me h5" [ngClass]="{'text-muted': isMorning, 'text-white': !isMorning}"
            href="#">portfolio</a>
        <a class="nav-link spin-me h5" [ngClass]="{'text-dark': isMorning, 'text-secondary': !isMorning}"
            href="#">contact
            me</a>
    </div>
</div>