<!--TODO: update to be conditional, depending on time-->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!--TODO: update font-->
        <a class="navbar-brand" href="#">JLW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsedContent"
            aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>git
</nav>
<div class="collapse" id="collapsedContent">
    <div class="bg-light p-4 text-end">
        <!--TODO: update to fancy word spin/swaps sffasggfdds-->
        <a class="nav-link spin-me text-muted h5" href="#">about me</a>
        <a class="nav-link spin-me text-muted h5" href="#">skillset</a>
        <a class="nav-link spin-me text-muted h5" href="#">portfolio</a>
        <a class="nav-link spin-me text-dark h5" href="#">contact me</a>
    </div>
</div>